<!DOCTYPE html>
<html>

<head>
	<title>Selamat datang</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
	<input th:value="${id}" type="hidden" id="userId">

	<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
		<h1 class="text-primary">Med.id</h1>
		<form class="form-inline">
			<!--
			<div class="fluid-container bg-primary">
				Haloo <p id="nameEmail"> </p>
			</div>
			-->
		</form>
	</nav>


	<a th:href="@{/logout}">
		<button class="btn btn-primary">
			Log Out
		</button>
	</a>
</body>

<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/jquery-3.6.0.js"></script>

</html>