<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Med.id</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
		<h1 class="text-primary">Med.id</h1>

		<form class="form-inline">
			<button type="button" class="btn btn-primary">Sign In</button>
			<a th:href="@{/login}">
				<button type="button" class="btn btn-primary">
					LogIn
				</button>
			</a>
		</form>
	</nav>
</body>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.6.0.js"></script>
<script src="../js/landingPage.js"></script>

</html>