
<table class="table table-borderless">
	<tr>
		<td>Nama*</td>
		<td>
			<input id="nameInput" class="form-control" maxlength="100">
			<small id="errName" class="text-danger"></small>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button id="addmcourierBtnCancel" class="btn btn-warning">Batal</button>
			<button id="addmcourierBtnCreate" class="btn btn-primary">Simpan</button>
		</td>
	</tr>
</table>

<script src="../m_courier/addm_courier.js"></script>