<input th:value="${id}" type="hidden" id="delmcourierId" xmlns:th="http://www.w3.org/1999/xhtml">
<h5>Anda akan menghapus cara pembayaran Docar? </h5>

<table class="table table-borderless table-sm">
	<tr>
		<th>Nama*</th>
		<td id="nameDel">tesName</td>
	</tr>
</table>
<button id="delmcourierBtnCancel" class="btn btn-warning">Tidak</button>
<button id="delmcourierBtnDelete" class="btn btn-primary">Ya</button>

<script src="../m_courier/deletem_courier.js"></script>