<input th:value="${id}" type="hidden" id="editmcourierId" xmlns:th="http://www.w3.org/1999/xhtml">

<table class="table table-borderless">
	<tr>
		<td>Nama*</td>
		<td>
			<input id="nameEditInput" class="form-control" maxlength="100">
			<small id="errName" class="text-danger"></small>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button id="editmcourierBtnCancel" class="btn btn-warning">Batal</button>
			<button id="editmcourierBtnCreate" class="btn btn-primary">Simpan</button>
		</td>
	</tr>
</table>

<script src="../m_courier/editm_courier.js"></script>