<div>
	<p> Masukkan kode OTP yang telah dikirimkan ke email Anda</p>
	<input name="otp" id="typeOTP" placeholder="OTP code" class="form-control form-control-lg" />
	<div id="errOTP" class="text-danger"> </div>

	<div class="text-center">
		<p class="m-3"> Kirim ulang kode OTP dalam </p>
	</div>
	<div class="text-center">
		<button id="btnConfirmOTP" class="m-3 btn btn-primary"> Send OTP </button>
	</div>

</div>