
<table class="table table-borderless">
	<tr>
		<td>Name</td>
		<td>
			<input id="nameInput" class="form-control" maxlength="50">
			<small id="errName" class="text-danger"></small>
		</td>
	</tr>

	<tr>
		<td></td>
		<td>
			<button id="addMSDBtnCancel" class="btn btn-outline-dark">Cancel</button>
			<button id="addMSDBtnCreate" class="btn btn-primary">Create</button>
		</td>
	</tr>
</table>

<script src="../m_specialization/addm_specialization.js"></script>