<input th:value="${id}" type="hidden" id="delCatId" xmlns:th="http://www.w3.org/1999/xhtml">
<h5>Are you sure you want to delete this? </h5>

<table class="table table-borderless table-sm">

	<tr>
		<th>Name</th>
		<td id="nameDel">tesName</td>
	</tr>

</table>
<button id="delMSDBtnCancel" class="btn btn-outline-dark">Cancel</button>
<button id="delMSDBtnDelete" class="btn btn-danger">Delete</button>

<script src="../m_specialization/deletem_specialization.js"></script>