<input th:value="${id}" type="hidden" id="editCatId" xmlns:th="http://www.w3.org/1999/xhtml">

<table class="table table-borderless">
	<tr>
		<td>Name</td>
		<td>
			<input id="nameEditInput" class="form-control" maxlength="50">
			<small id="errName" class="text-danger"></small>
		</td>
	</tr>
		<td></td>
		<td>
			<button id="editMSDBtnCancel" class="btn btn-outline-dark">Cancel</button>
			<button id="editMSDBtnCreate" class="btn btn-warning">Save Changes</button>
		</td>
	</tr>
</table>

<script src="../m_specialization/editm_specialization.js"></script>