<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<title>Selamat datang</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>
		.grid-container {
			display: grid;
			grid-template-columns: repeat(4, minmax(0, 1fr));
			gap: 30px;
			padding: 50px 0px 50px 0px;
		}

		.grid-container>div {
			color: blue;
			height: 200px;

			/*background-color: rgb(214, 214, 214);*/

		}
	</style>
</head>

<body>
	<input th:value="${name}" type="hidden" id="nameUser">
	<input th:value="${role}" type="hidden" id="roleName">
	<input th:value="${id}" type="hidden" id="idUser">
	<input th:value="${biodataId}" type="hidden" id="idBiodata">
	<input th:value="${roleId}" type="hidden" id="idRole">
	<!--Navbar-->
	<nav class="navbar" style="background-color: #b1e3e0">
		<div class="container-fluid">


			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
				aria-controls="offcanvasExample">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="text-center">
				<a class="navbar-brand" href="">
					<h1 class="text-primary" style="display: inline-flex;"><i class="fa fa-plus-square" style="font-size:40px; margin-right:7px;"></i>Med.id</h1>
				</a>
			</div>
			<form class="navbar-form col-lg-4 mx-lg-auto order-lg mb-0" id="search" role="search">
				<div class="form-group mb-0">
					<input type="text" class="form-control" placeholder="Cari Dokter Atau Faskes">
				</div>
			</form>

			<form>
				<a id="btnProfile" class="btn" style="background-color: #00897b"><span style="color: white"><i
							class="fas fa-user-circle"></i> Halo, </span><span style="color: white"
						id="userName"></span></a>

				<a th:href="@{/logout}" class="btn btn-primary ms-2" style="width: 100px; background-color: blue"><span
						style="color: white"><i class="fas fa-power-off"></i>
						Logout</span></a>
			</form>
		</div>
		</div>
	</nav>
	<!-- Navbar -->


	<!-- Sidenav -->
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div>
				<ul id="listMenu" class="" style="list-style-type: none;">
				</ul>
			</div>
		</div>
	</div>
	<!-- Sidenav -->

	<!--
	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
			<div class="container-fluid">
				<ul id="listMenu" class="navbar-nav">

				</ul>
			</div>
		</nav>
	</div>
	-->

	<!-- Main Content -->
	<div id="content">
		<div id="Menus" class="grid-container container-fluid text-center">

		</div>
	</div>

	<!-- Footer -->
	<div class="container-fluid" style="background-color: #b1e3e0; height:150px; float:left">
		<h5 class="text-primary" style="text-align: center;vertical-align: middle;line-height: 150px; "> Created
			By
			Batch 301</h5>
	</div>

</body>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.6.0.js"></script>
<script>
	function getMenuByRoleId(roleId) {
		return $.ajax({
			url: "/api/menu/getmenubyrole/" + roleId,
			method: "GET",
			async: false
		});
	}

	function getMainMenuByRoleId(roleId) {
		return $.ajax({
			url: "/api/menu/getmainmenubyrole/" + roleId,
			method: "GET",
			async: false
		});
	}

	function getSubMenuByRoleId(roleId, parentId) {
		return $.ajax({
			url: "/api/menu/getsubmenubyroleid?roleId=" + roleId + "&parentId=" + parentId,
			method: "GET",
			async: false
		});
	}

</script>
<script>
	$(document).ready(function () {
		/*
		console.log("nama user " + $("#nameUser").val());
		console.log("nama role " + $("#roleName").val());
		console.log("id User " + $("#idUser").val());
		console.log("id Biodata " + $("#idBiodata").val());
		console.log("id Role " + $("#idRole").val());
		*/
	});
</script>
<script>
	$("#userName").append(
		`
		${$("#nameUser").val()}
		`
	)


	// Pasien Role
	if ($("#roleName").val() == "Pasien") {
	//	alert("Pasien " + $("#nameUser").val());
		showMenuPasien();

		$("#btnProfile").click(function () {
			$.ajax({
				url: "/menu",
				type: "GET",
				data: {
					id: $("#idUser").val(),
					name: $("#nameUser").val(),
					role: $("#roleUser").val()
				},
				contentType: "html",
				success: function (data) {
					//alert(data);
					window.location.href = '/profile';
				}
			});
		});
	}

	function btnLoadPasienMenu(id) {
		var pasienSubMenu = getSubMenuByRoleId($("#idRole").val(), id).responseJSON;
		try {
			$(".offcanvas").offcanvas("hide");
		} catch {

		}

		$("#Menus").html("");
		for (i = 0; i < pasienSubMenu.length; i++) {
			$("#Menus").append(`
				<div>
					<img src="${pasienSubMenu[i].menu.big_icon}" width="180px">
					<p>${pasienSubMenus[i].menu.name}</p>
				</div>
			`)
		}
	}


	function showMenuPasien() {
		var pasienMenus = getMainMenuByRoleId($("#idRole").val()).responseJSON;
		var pasienMenuId = pasienMenus[0].menu.id;
		$("#listMenu").html();
		for (i = 0; i < pasienMenus.length; i++) {
			$("#listMenu").append(
				`
				<li value="${pasienMenus[i].menu.id}" onclick="btnLoadPasienMenu(this.value)" class="px-4 mb-2" style="width: fit-content;cursor:pointer">
					<img src="${pasienMenus[i].menu.small_icon}">
					<span>${pasienMenus[i].menu.name} </span>
				</li>
			`
			);
		}

		btnLoadPasienMenu(pasienMenuId);
	}



	// Dokter Role
	if ($("#roleName").val() == "Dokter") {
	//	alert("halo Dokter " + $("#nameUser").val());
		showMenuDokter();

		$("#btnProfile").click(function () {
			$.ajax({
				url: "/menu",
				type: "GET",
				data: {
					id: $("#idUser").val(),
					name: $("#nameUser").val(),
					role: $("#roleUser").val()
				},
				contentType: "html",
				success: function (data) {
					//alert(data);

					window.open(
						'/treatment',
						'_blank'
					);
				}
			});
		});
	}

	function btnLoadDokterMenu(id) {
		var dokterSubMenus = getSubMenusByRoleId($("#idRole").val(), id).responseJSON;
		try {
			$(".offcanvas").offcanvas("hide");
		} catch {

		}

		$("#Menus").html("");
		for (i = 0; i < dokterSubMenus.length; i++) {
			$("#Menus").append(`
				<div>
					<img src="${dokterSubMenus[i].menu.big_icon}" width="180px">
					<p>${dokterSubMenus[i].menu.name}</p>
				</div>
			`)
		}
	}


	function showMenuDokter() {
		var dokterMenus = getMainMenusByRoleId($("#idRole").val()).responseJSON;
		var dokterMenuId = dokterMenus[0].menu.id;
		$("#listMenu").html();
		for (i = 0; i < dokterMenus.length; i++) {
			$("#listMenu").append(
				`
				<li value="${dokterMenus[i].menu.id}" onclick="btnLoadDokterMenu(this.value)" class="px-4 mb-2" style="width: fit-content;cursor:pointer">
					<img src="${dokterMenus[i].menu.small_icon}">
					<span>${dokterMenus[i].menu.name} </span>
				</li>
			`
			);
		}

		btnLoadDokterMenu(dokterMenuId);
	}

</script>

</html>