<div>
	<p> Masukkan password varu untuk akun Anda</p>
	<div>
		<label class="form-label" for="typePassword">*Password</label>
		<input name="password" id="typePassword" placeholder="Paswword" class="form-control form-control-lg" />
	</div>
	<div>
		<label class="form-label" for="typeRePassword">*Re-type Password</label>
		<input name="rePassword" id="typeRePassword" placeholder="Re-type Password" class="form-control form-control-lg" />
		<div id="errPasswd" class="text-danger"> </div>
	</div>
	<div class="text-center">
		<button id="btnSetPassword" class="m-3 btn btn-primary"> Set Password </button>
	</div>

</div>